.container{
background-color: burlywood;
display: flex;
flex-direction: row;
justify-content: space-between;
/* align-items: center;
height: 700px; */
flex-wrap: wrap;
}
.div1{
  width: 600px;
  padding: 20px;
  font-size: 25px;
  background-color: crimson;
border: 2px solid white;
}